body {
  background-image: url("./casino-background.jpeg");
  color: white;
  font-family: Poppins, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.d-flex {
  display: flex;
}

#logo {
  margin-left: 30px;
}

.scores-container {
  gap: 30px;
  margin-left: 30px;
}

.recent-scores {
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

input {
  height: 20px;
  border: 2px solid#192757;
}

.add-your-score input {
  display: block;
  margin-bottom: 10px;
}

#refresh {
  height: 40px;
  width: 75px;
  background: #192757;
  padding: 10px 0 10px 0;
}

ul {
  list-style-type: none;
  border: 1px solid black;
  padding-left: 0;
}

li {
  background: #192757;
  padding: 10px 0 10px 10px;
}

form {
  flex-direction: column;
  justify-content: flex-end;
}

#submit {
  height: 40px;
  width: 75px;
  align-self: flex-end;
  background: #192757;
  padding: 10px 0 10px 0;
  font-size: 14px;
}

.white {
  color: white;
}

.border-white {
  border: 1px solid white;
}
